.summary-anticipation-header .back-icon-button {
    margin-bottom: 2.5rem;
}

.back-icon-button {
    width: 8.4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.back-button-text{
    margin-left: 1rem;
}

.summary-header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-summary {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.summary-main {
    display: flex;
    flex-direction: column;
}


.currency-symboll {
    font-size: 6.4rem;
    font-weight: 700;
}


.summary-money {
    margin-bottom: 3.5rem;
}

.anticipation-value {
    display: flex;
    flex-direction: row;
    font-size: 6.4rem;
    font-weight: 700;
}

.cents {
    font-size: 4.2rem;
}

.primary-button {
    width: 100%;
    height: 5.4rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.8rem;
    font-weight: 300;
    background-color: var(--primary);
}

.anticipation-requirement {
    width: 100%;
}

.anticipation-requirement .row {
    display: flex;
    justify-content: space-between;
}

#confirm-anticipation-request-button:hover {
    cursor: pointer;
}

.anticipation-fees {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 80px;
    
}
.spacing{
    width: 100px;
}