:root {
    font-size: 62.5%;
    --primary: #3468FC;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 39rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigator ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-icon {
    position: relative;
    margin-right: 4.5rem;
}

.menu-icon.active::after {
    content:"";
    width: 0.8rem;
    height: 0.8rem;
    top: 3rem;
    right: 0.8rem;
    position: absolute;
    border-radius: 50%;
    background-color: var(--primary);
}