.container {
    justify-content: flex-start !important;
}

.title {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.title span:first-child {
    margin-bottom: 1rem;
}

form .fields {
    max-height: 45vh;
    margin-bottom: 3rem;
    overflow-y: auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    padding-right: 1.5rem;
}

.form-field label {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.form-field input, select {
    background-color: #E0E7EC;
    color: #757575;
    border-radius: 1.0rem;
    padding: 0rem 2.2rem 0rem 2.2rem;
    height: 5.4rem;
}

select {
    cursor: pointer;
    border-right: 2.2rem solid transparent
}

