.filter-title{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#title{
    margin-bottom: 1rem;
}

.filter{
    margin-bottom: 1rem;
    background-color: #CACACA;
    border-radius: 1rem;
    width: 50%;
    height: 3rem;
}

.filter-options{
    max-height: 60vh;
    padding-right: 1.5rem;
    overflow-y: auto;
}

.type{
    margin-bottom: 1.3rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.sub-type{
    margin-bottom: 1.3rem;
    font-size: 1.6rem;
    font-weight: 200;
}
